<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="https://unpkg.com/lucide@latest"></script>

{% load static %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">

<body>
  <div class="bottom-navbar">
    <a href="#" class="nav-item" title="Home"><i data-lucide="home"></i></a>
    <a href="#" class="nav-item" title="About"><i data-lucide="user"></i></a>
    <a href="#" class="nav-item" title="Code"><i data-lucide="code"></i></a>
    <a href="#" class="nav-item" title="Work"><i data-lucide="briefcase"></i></a>
    <a href="#" class="nav-item" title="Contact"><i data-lucide="mail"></i></a>
  </div>

  <script src="{% static 'java_script/test.js' %}"></script>

</body>

</html>